---
import { SITE_TITLE } from "../consts";
import { greetings } from "@api/greetings/greetings.js";

const rand_id = `Math.floor(Math.random()*${greetings.length})`;
const hx_cmd = (n: number) => `htmx.ajax('GET', 'api/greetings/'+${rand_id}+'/', '#greeting'+${n})`;
---

<div class="hero-content text-center">
  <div class="max-w-md">
    <button
      id="greeting1"
      class="btn btn-outline btn-accent text-2xl font-bold"
      hx-on:click={hx_cmd(2)}
    >
      {SITE_TITLE}
    </button>
    <h1 class="py-6 text-xl text-neutral-content">Welcome to my site</h1>
    <button
      id="greeting2"
      class="btn btn-primary text-xl text-base-300"
      hx-on:click={hx_cmd(1)}
    >
      Hey
    </button>
  </div>
  <script is:inline>
    setTimeout(() => {
      document.getElementById("greeting2").click();
      setTimeout(() => {
        document.getElementById("greeting1").innerHTML = "JCHE";
      }, 1200);
    }, 2300);
  </script>
</div>
