---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";

const buttonStyle = "btn btn-ghost text-xl";
const places = [
  // { body: "Shell", href: "/projects/terminal" },
  { body: "Blog", href: "/blog" },
  { body: "About", href: "/about" },
];
---

<header class="navbar bg-base-100 text-base-content">
  <div class="flex-1">
    <HeaderLink class={buttonStyle} href="/">{SITE_TITLE}</HeaderLink>
    {
      places.map((a) => (
        <HeaderLink class={buttonStyle} href={a.href}>
          {a.body}
        </HeaderLink>
      ))
    }
  </div>
</header>
