---
import Layout from "@layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<Layout>
  <main>
    <article class="min-h-screen w-full leading-relaxed">
      <div class="title w-full max-w-prose px-8 mx-auto">
        <h1 class="text-3xl sm:text-5xl font-bold">{title}</h1>
        <p class="pr-24 text-md sm:text-lg italic font-normal">{description}</p>
      </div>
      <div class="hero-image md:max-w-[720px] mx-auto py-6">
        {
          heroImage && (
            <img width={1020} height={510} src={heroImage} alt="" class="md:rounded-xl"/>
          )
        }
      </div>
      <div class="max-w-prose px-8 mx-auto">
        <div class="date text-neutral-content text-md italic">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )}
          </div>
        <slot />
      </div>
    </article>


    <style>
      h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }  
    
      h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
    
    </style>
  </main>
</Layout>
